body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100vh;
}
@media only screen and (max-width: 56.25em) {
    :root {
        --two-col-layout: 1;
        --four-col-layout: 1;
        --three-col-layout: 1;
    }
}
@media only screen and (max-width: 59em) {
    :root {
        --two-col-layout: 1;
        --four-col-layout: 1;
        --three-col-layout: 1;
    }
}
.wrapper {
    display: flex;
    width: 100%;
}

.logoa {
    min-width: 100px;
    max-width: 100px;
}
#sidebar {
    min-width: 250px;
    height: 100vh;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #212529;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #d1d1d1;
}

#sidebar ul li a:hover {
    color: #7386d5;
    background: #212529;
}

#content {
    width: 100%;
    padding: 20px;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4.5%;
}